<div id="confirm">
    <div class="content"></div>
    <hr />
    <div class="text-right">
        <a href="javascript:;" id="btnConfirmCancel">Cancel</a>
        <input type="button" value="OK" class="btn btn-default" id="btnConfirmOK" />
    </div>
</div>

<script type="text/html" id="confirmTemplate">
    <p class="">        
        <h5>
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            #=data.text#
        </h5>
    </p>
</script>
