<script type="text/html" id="infoMessageTemplate">

    <div class="alert alert-#=data.type# alert-dismissible fade in" role="alert"> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button> 
        <strong>Message:</strong> #=data.message# 
    </div>

</script>
