@model XF.Entities.ClientNote
    <div class="alert alert-warning" alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <strong class="text-center">@Model.Date.ToString("MM/dd/yyyy HH:mm")</strong>
        <br />
        <div>
            <strong> @Model.Client.Name note:</strong>
        </div>   
        @Model.Text
    </div>

