<script type="text/html" id="noteTemplate">
    <div class="popover right"> 
        <div class="arrow"></div> 
        <h3 class="popover-title">#=data.Title#</h3> 
        <div class="popover-content"> 
            <p>#=data.Text#</p> 
        </div>
    </div>
</script>
