<script type="text/html" id="noteTemplate">
    <div class="alert alert-warning" alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <small>#=data.Title#</small>   
        #=data.Text#
    </div>
</script>
