<script type="text/html" id="noteTemplate">
    <div class="alert alert-warning note client-#=data.ClientId#" alert-dismissible fade in" role="alert">
        @*<button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>*@
        <strong class="text-center">#=data.Date#</strong>
        <br />
        <div>                       
            <strong> #=data.ClientName# note:</strong>
        </div>
        #=data.Text#
    </div>

</script>
