@model XF.Entities.ClientNote
    <div class="alert alert-warning note client-@Model.ClientId" alert-dismissible fade in" role="alert">
        @*<button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>*@
        <strong class="text-center">@Model.Date.ToString("MM/dd/yyyy HH:mm")</strong>
        <br />
        <small class="text-left">
        @(string.Format("{0}{1} {2}",
                        Model.AspNetUser.FirstName,
                        Model.AspNetUser.MiddleName == null
                        ? string.Empty
                        : string.Format(" {0}", Model.AspNetUser.MiddleName)
                        , Model.AspNetUser.LastName))
        </small>
        <br />
        <div>
            <strong> @(string.Format("{0}{1} {2}",
                        Model.Client.FirstName,
                        Model.Client.MiddleName == null
                        ? string.Empty
                        : string.Format(" {0}", Model.Client.MiddleName)
                        , Model.Client.LastName)) note:</strong>
        </div>
        @Model.Text
    </div>

