<div id="options">
    <div class="content"></div>

    <label id="optionsLabel"></label>
    <select type="text" id="cmbOptionsValue" >
        
    </select>
    <hr />
    <div class="text-right">
        <a href="javascript:;" id="btnOptionsCancel">Cancel</a>&nbsp;&nbsp;
        <input type="button" value="OK" class="btn btn-default" id="btnOptionsOK" />
    </div>
</div>

<script type="text/html" id="optionsTemplate">
    <option value="-1">Select value</option>
    #for(var i = 0; i < data.length; i++){#
        <option value="#=data[i].key#">#=data[i].value#</option>
    #}#
</script>
