<div id="prompt">
    <div class="content"></div>
    <input type="text" id="txtPromptValue" />
    <hr />
    <div class="text-right">
        <a href="javascript:;" id="btnPromptCancel">Cancel</a>&nbsp;&nbsp;
        <input type="button" value="OK" class="btn btn-default" id="btnPromptOK" />
    </div>
</div>

<script type="text/html" id="promptTemplate">
    <p class="">        
        <h5>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            #=data.text#
        </h5>
    </p>
</script>
