@{
    ViewBag.Title = "Invoices";
}

<input type="hidden" id="hfPageSize" value="@ViewBag.PageSize" />
<br />
<h2>
    Invoices
    <span class="xf-btn-right">
        <a href="/Sales" class="btn btn-primary">Go Sales page</a>
    </span>
</h2>
<br />
<div id="grid"></div>

<script type="text/html" id="invoiceDetailTemplate">
    <a href="/Invoices/Detail/#=data.InvoiceId#">#=data.InvoiceId#</a>
</script>
@section scripts{
    @Scripts.Render("~/Scripts/Sales/InvoicesList.js")
}
