@{
    ViewBag.Title = "Invoices";
}

<input type="hidden" id="hfPageSize" value="@ViewBag.PageSize" />
<br />
<h2>
    Invoices
    <span class="xf-btn-right">
        <a href="/Sales" class="btn btn-primary">Go Sales page</a>
    </span>
</h2>
<br />
<div id="grid"></div>

<script type="text/html" id="invoiceDetailTemplate">

    <a href="/Invoices/Details/#=data.InvoiceId#">#=data.InvoiceId#</a>
    #if(data.InvoiceStatusId==1){#
        <small>
            <span class="label label-warning" title="Estimate">E</span>
        </small>
    #}#
    #if(data.InvoiceStatusId==4){#
        <small>
            <span class="label label-danger" title="Refund">R</span>
        </small>
    #}#

</script>
<script type="text/html" id="PrintInvoiceDetailTemplate">
    <a href="javascript:window.open('/Sales/Print/#=data.InvoiceId#','_blank');">Print</a>
    <br />
    <a href="javascript:XF.confirmEmail(#=data.InvoiceId#,'#=data.ClientEmail#');">Email</a>
    <br />
    #if(data.InvoiceStatusId==2){#
        <a href="javascript:XF.refundInvoice(#=data.InvoiceId#);">Refund</a>
        <br />
    #}#
    #if(data.InvoiceStatusId == 2 || data.InvoiceStatusId == 3){#
    <div class="checkbox">
        <label >
            <input type="checkbox" class="chk-released" data-invoiceid="#=data.InvoiceId#" #=(data.IsReleased?"checked":"")#/>Released
        </label>
    </div>
    #}#
    
</script>

@section scripts{
    @Scripts.Render("~/Scripts/Sales/InvoicesList.js")
}
