@model IEnumerable<XF.Entities.Client>

@{
    ViewBag.Title = "Clients";
}
<br />
<h2>
    Clients
    <span class="xf-btn-right">
        <a href="/Clients/Create" class="btn btn-primary">Add Client</a>
    </span>
</h2>
<br />

<div id="grid"></div>

<script type="text/html" id="actionsTemplate">
    <a href="/Clients/Edit?id=#=data.Id#">Edit</a>|
    <a href="/Clients/Details?id=#=data.Id#">Details</a>|
    <a href="/Clients/Delete?id=#=data.Id#">Delete</a>
</script>

@section Scripts
{
    <script src="/Scripts/Clients/Clients.js?v=1.1"></script>
}

