@{
    ViewBag.Title = "Products";
}

<input type="hidden" id="hfPageSize" value="@ViewBag.PageSize" />
<br />
<h2>
    Products
    <span class="xf-btn-right">
        <a href="/Products/Create" class="btn btn-primary">Add New Product</a>
    </span>
</h2>
<br />
<div id="grid"></div>

<script type="text/html" id="stockTemplate">
    <a href="/Products/Stock/#=data.Id#">#=data.Stock#</a>
</script>
@section scripts{
    @Scripts.Render("~/Scripts/Products/ProductsList.js")
}
