@{
    ViewBag.Title = "Products";
}

<input type="hidden" id="hfPageSize" value="@ViewBag.PageSize" />

<h2>Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="grid"></div>
@section scripts
    {
@Scripts.Render("~/Scripts/Products/ProductsList.js")
    
    }
