@{
    ViewBag.Title = "Products";
}

<input type="hidden" id="hfPageSize" value="@ViewBag.PageSize" />

<h2>Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="grid"></div>

<script type="text/html" id="stockTemplate">
    <a href="/Products/Stock/#=data.Id#">#=data.Stock#</a>
</script>
@section scripts{
    @Scripts.Render("~/Scripts/Products/ProductsList.js")
}

