@model IEnumerable<XF.Entities.Invoice>
@{
    ViewBag.Title = "Delivery Report";
    Layout = null;
}

@if (ViewBag.HasStyles)
{
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}
<h2 class="text-center">
    Delivery Items
    <br />
    <small>@ViewBag.StartDate &nbsp;to&nbsp;@ViewBag.EndDate</small>  
    <br />
</h2>
<table id="report" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="text-center">Client's Name</th>
            <th class="text-center">Invoice ID</th>
            <th class="text-center">Date Of Delivery</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Client.FullName</td>
                <td class="text-center">@item.Id</td>
                <td class="text-center">@item.Date.ToLongDateString()</td>
            </tr>
        }
    </tbody>
</table>
