@{
    ViewBag.Title = "Orders";
}
<input type="hidden" id="hfPageSize" value="@ViewBag.PageSize" />
<br />
<h2>
    Orders 
</h2>
<br />
<div id="grid"></div>

<script type="text/html" id="orderDetailTemplate">
    <a href="/Purchases/Details/#=data.PurchaseOrderId#">#=data.PurchaseOrderId#</a>
</script>

<script type="text/html" id="actionsTemplate">
    #if(data.Status == 4){#
    <h5>
        <span class="label label-danger">Canceled</span>
    </h5>
    #}else if(data.Status != 3){#
    <h5>
        <a href="javascript:XF.ReceivedOrder(#=data.PurchaseOrderId#)">Receive</a>
    </h5>
    #}else{#
    <h5>
        <span class="label label-success">Received</span>
    </h5>
    #}#
</script>


@section scripts{
    @Scripts.Render("~/Scripts/PurchaseOrders/PurchasesOrdersList.js")
}
