@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ximena's Furniture</h1>
    <p class="lead">Application Admin</p>
    <p><a href="http://Reports" class="btn btn-primary btn-lg">Reports &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Summary</h2>
        <p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Concept</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="#">Missing Product <span class="badge">42</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Pendding Purchaise Orders <span class="badge">13</span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Reports</h2>
        <p>Description....</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Other data</h2>
        <p>Description</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>