<div class="row">
    <div class="col-md-6">
        <label>Client</label>
        <input type="text" id="txtClientId" placeholder="Enter Client Name" />
    </div>
    <div class="col-md-6">
        <label>Date</label>
        <input type="text" id="txtDate"/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    </div>
    <div class="col-md-12">
        <table class="table table-striped" id="invoiceTable">
            <thead>
                <tr>
                    <th>Concept</th>
                    <th>Units</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" class="form-control" id="txtProduct" />
                    </td>
                    <td>
                        <input type="number" min="1" class="form-control" id="txtUnits" />
                    </td>
                    <td>
                        <label id="lblPrice"></label>
                    </td>
                    <td>
                        <label id="lblTotal"></label>
                    </td>
                    <td>
                        <input type="button" value="Add" id="btnAdd"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Chair 1 [CHR-1]
                    </td>
                    <td>
                        4
                    </td>
                    <td>
                        $144.00
                    </td>
                    <td>
                        $576.00
                    </td>
                    <td>
                        
                    </td>
                </tr>
            </tbody>
            <tfooter>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Tax</td>
                    <td>0.075</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Discount</td>
                    <td>$10.00</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>TOTAL</td>
                    <td>523.55</td>
                </tr>

            </tfooter>
        </table>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/Invoices/SalesPoint.js")    
}
