@using System.Net.Cache
@model XF.Models.NotesViewModel
@{
    Layout = null;
}
@if (Request.IsAuthenticated) { 
<form>
    <div class="form-group">
        <h5>
            <strong>Notes</strong>
        </h5>
        <select id="cmbNoteClients" class="form-control">
            <option value="">Select a client</option>
            @foreach (var client in Model.Clients)
            {
                <option value="@client.Id">@client.Name</option>
            }
        </select>
        <textarea class="form-control" id="txtNoteText" rows="3" placeholder="New note"></textarea>
        <a href="javascript:;" class="btn btn-success" id="btnAddNote" style="width:100%;">Add Note</a>
    </div>
</form>
    <div id="clientNotes">
        @foreach (var note in Model.Notes)
        {
            @Html.Partial("~/Views/Templates/NoteTemplate.cshtml", note)
        }
    </div>
}
